
.order_text_block{
    padding-left: 5%;
    padding-top: 10px;
    width: 100%;
    min-height: 60vh;
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40vh;
    transition: all 0.2s linear;
    overflow: hidden;
    font-size: 25px;
    font-weight: 500;
}

.order_status{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
    color: var(--tg-theme-hint-color);
}

.order_status_text{
    font-weight: 500;
    color: green;
}

.order_address{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: var(--tg-theme-hint-color);
}

.order_address_text{
    font-weight: 500;
    color: var(--tg-theme-text-color);
}

.order_radius{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    color: var(--tg-theme-hint-color);
}

.order_radius_text{
    font-weight: 500;
    color: var(--tg-theme-text-color);
}