::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
}

.Story{
    display: flex;
    flex: 0 0 60px;
    flex-direction: row;
    min-width: 67px;
    width: 67px ;
    height: 67px;
    border-radius: 12px;
    background: var(--tg-theme-bg-color);
    color:  var(--tg-theme-text-color);
    background: black;
    margin-left: 10px;
}