

.Story{
    display: flex;
    flex: 0 0 60px;
    flex-direction: row;
    min-width: 67px;
    width: 67px ;
    height: 67px;
    border-radius: 12px;
    color:  var(--tg-theme-text-color);

    margin-left: 10px;
}