.home {
    overflow: hidden;
  }
  .main {
    position: relative;
  }

  .circles--monitors {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 1;
  }
  .circles--footer {
    position: absolute;
    left: 0;
    bottom: -1150px;
    z-index: 1;

  }
  .wave--monitors {
    position: absolute;
    width: 100%;
    max-height: 1687px;
    top: 1084px;
    left: 0;
  }
  .wave--footer {
    position: absolute;
    width: 100%;
    max-height: 2104px;
    bottom: -720px;
    right: 0;
  }
  // .circles--features {
  //   position: absolute;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   top: 1650px;
  // }
  .header__navigation {
    display: flex;
    align-items: center;
    margin-top: 6px;
  }
  .header__navigation-links {
    display: flex;
    margin-right: 32px;
    margin-top: 6px;
  }
  .navigation-link {
    cursor: pointer;
    transition: 0.3s all ease;

    &:hover {
      color: $white;
    }

    &:not(:last-child) {
      margin-right: 32px;
    }
  }
  .burger-button {
    @include flex-box(40px);
    @include svg-color($white);
    background-color: $brand;
    border-radius: 100%;
    cursor: pointer;
  }

  @media screen and (max-width: 1440px){
    .wave {
      &--footer,&--monitors {
        display: none;
      }
    }
  }

  @media screen and (max-width: 640px){
    .circles--monitors {
      height: 556px;
      top: 556px;
      right: -340px;
    }
    .circles--footer {
      height: 700px;
      bottom: 300px;
    }
    .header__navigation {
      display: none;
    }
  }

